<div class="bottom">
	<p class="text-center" style="width:100%; height:300px; font-size: 28px; font-weight:bold; color:white; margin-top: 20px">
		<br />
		TECH INDUSTRIAL CO.,LTD<br/>
		Mail: infolai@seed.net.tw<br/>
		Tel: +886225567091~3<br/>
		Fax: +886225580423 or +886225586431
	</p>
	<!-- <lable style="width:100%; font-size: 28px; font-weight:bold; color:white">
		TECH INDUSTRIAL CO.,LTD<br/>
		Mail: infolai@seed.net.tw<br/>
		Tel: +886225567091~3<br/>
		Fax: +886225580423 or +886225586431
	</lable> -->
</div>