<%= image_tag 'exhibition_up.png', class: :exhibition %>
<p class="text-center" style="width:100%; font-size: 28px; font-weight:bold; margin: 30px">
	Next fair schedule:<br />
	Mega show    HongKong 20-23 OCT 2017<br />
	Ambiente show Frankfurt 10-14 FEB 2018
</p>
<%= image_tag 'exhibition_down.png', class: :exhibition, style: 'margin-bottom: 0' %>