<script type="text/javascript">
	$(document).ready(function() {
		$('img').fadeIn(2000, show);
	});

	function show() {
		$('label#labUp').slideDown("slow");
		$('label#labDown').slideDown("slow", function() {
			setTimeout(function() { window.location.href = '/home'; }, 1000);
		});
	}


</script>
<div class="container-fluid" style="height:50vmin; background:#ffd2d2; position:relative;">
	<div style="display:inline; position:absolute; bottom:0px; margin-left: 30%;">
		<%= image_tag("logo.png", size: 10*10, class: 'portal_logo') %>
		<label id="labUp" style="margin-left:10px; display:none; vertical-align: bottom;" class="up_color">TECH</label>
	</div>
	<!-- <div class="row">
		<div class="col-md-1 col-md-offset-3" style="position: absolute;bottom: 20px;"><%= image_tag("logo.png", size: 10*10) %></div>
		<div class="col-md-3 col-md-offset-3" style="position: absolute;bottom: 0px;"><label class="up_color" >e04</label></div>
	</div> -->
</div>
<div style="height:50vmin; background:#84c1ff; position:relative;">
	<div style="display:inline; position:absolute; top: :0px; margin-left: 30%">
		<label id="labDown" style="margin-left: 125px; display: none" class="down_color">INDUSTIAL</label>
	</div>
</div>